$project-block-height: base-unit(41);

.landing-page {
    padding-bottom: base-unit(32);

    .big-text {
        font-size: $title-big;
        color: $red;
    }

    .ab-fold {
        margin-bottom: base-unit(10);
        overflow: hidden;

        .ab-fold-title {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
            user-select: none;
            z-index: 1;
        
            .presentation {
                width: fit-content;
                margin: 0 auto $base-unit auto;
                text-align: center;
                font-size: $text-block-big;
                line-height: 50px;
            }
        
            .product-designer {
                width: fit-content;
                margin: auto;
                text-align: center;
                line-height: 120px;
            }
        }

        .image-popup-container {
            position: absolute;
            border-radius: $border-radius;

            &.hidden {
                opacity: 0;
            }

            &:hover {
                cursor: grab;
            }

            .image-popup-inner-container {
                position: relative;
                width: 100%;
                height: 100%;

                .close {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: $dark-grey;
                    color: $background;
                    width: fit-content;
                    text-align: center;
                    border-radius: 0 $border-radius 0 $border-radius;
                    width: base-unit(5);
                    height: base-unit(5);
                    line-height: base-unit(5);
                    transition: $transition-short;

                    &:hover {
                        cursor: pointer;
                    }
                }

                img {
                    -webkit-user-drag: none; /* Prevent native drag in WebKit browsers */
                    user-drag: none; /* Standard property, not widely supported yet */
                    pointer-events: auto;
                    object-fit: cover;
                    height: auto;
                    border: 6px solid $dark-grey;
                    border-radius: $border-radius;
                }
    
            }

            &#juno {
                z-index: 15;
                top: 3%;
                left: 6%;

                img  {
                    width: 18vw;
                }
            }

            &#cog {
                z-index: 16;
                top: 15%;
                left: 1%;

                img  {
                    width: 7vw;
                }
            }

            &#map-sofya {
                z-index: 10;
                top: 1%;
                left: 36%;

                img  {
                    width: 23vw;
                }
            }

            
            &#me {
                z-index: 20;
                top: 25%;
                left: 25%;
                
                img  {
                    width: 12.5vw;
                }
            }
            
            &#login-sofya {
                z-index: 21;
                top: 43%;
                left: 9%;

                img  {
                    width: 18.5vw;
                }
            }

            &#paula {
                z-index: 19;
                top: 69%;
                left: 20%;

                img  {
                    width: 17vw;
                }
            }

            &#miam {
                z-index: 11;
                top: 72%;
                left: 48%;

                img  {
                    width: 6.5vw;
                }
            }

            &#support-sofya {
                z-index: 12;
                top: 65%;
                left: 54%;

                img  {
                    width: 15.5vw;
                }
            }

            &#hat {
                z-index: 13;
                top: 76%;
                left: 80%;

                img  {
                    width: 9vw;
                }
            }

            &#ipad-auticiel {
                z-index: 15;
                top: 49%;
                left: 67%;

                img  {
                    width: 25vw;
                }
            }

            &#dancehaul {
                z-index: 14;
                top: 36%;
                left: 62%;

                img  {
                    width: 10vw;
                }
            }

            &#macbook-auticiel {
                z-index: 16;
                top: 10%;
                left: 68%;

                img  {
                    width: 16.5vw;
                }
            }

            &#pbasse {
                z-index: 22;
                top: 4%;
                left: 89%;

                img  {
                    width: 9.5vw;
                }
            }


        }
    }


    .text-block {
        font-size: $text-block-big;
        line-height: 50px;

        .about {
            margin-bottom: base-unit(30);
        }

        .projects {
            margin-bottom: base-unit(3)
        }

        .project-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: base-unit(15);

            &.sofya {
                justify-content: flex-end;
            }

            .project-image-container {
                position: relative;
                width: 60%;

                .project-background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 100%;
                    height: $project-block-height;
                    border-radius: $border-radius;

                    &.amikeo {
                        background-color: $light-purple;
                    }

                    &.sofya {
                        background-color: $light-green;
                    }
                }
                
                .project-image {
                    height: $project-block-height;
                    background-repeat: no-repeat;

                    &.amikeo {
                        background-image: url(../images/auticiel/amikeo-cover.png);
                        background-position: 30% center;
                        background-size: 65%;
                    }

                    &.sofya {
                        background-image: url(../images/auticiel/sofya-cover.png);
                        background-position: 50% center;
                        background-size:50%;
                    }
                }
                
            }

            .big-text {
                line-height: 100%;

                &.amikeo {
                    transform: translate(-73%, 121%);
                }

                &.sofya {
                    transform: translate(42%, -50%);
                }
            }

        }
    }
}

.dragging {
    cursor: grabbing;
}