body {
    font-family: "new-hero", sans-serif;
    font-weight: 800;
    font-style: normal;

    .soap {
        font-family: "soap", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}