body {
    margin: 0;
    background-color: $background;
    color: $blue;
    font-size: $text-block;
    // position:fixed;
    @include new-hero-eb;

    .soap {
        @include soap;
    }

    @media ($lt-sm) {
        font-size: $text-block-mobile;
    }
}

a {
    text-decoration: none;
}

.big-text {
    @include soap;
    font-size: $title-big;
    color: $red;

    @media ($lt-sm) {
        font-size: $title-big-mobile;
    }
}

.ab-fold {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.text-block {
    padding: 0 base-unit(8);

    .outlined {
        @include soap;
        color: $red;
    }

    .section-title {
        @include soap;
        color: $red;
        margin-bottom: base-unit(2);
        font-size: $section-title;
    }

    @media ($lt-sm) {
        padding: 0 base-unit(3);
    }
}


.contact-container {
    margin-top: base-unit(30);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media ($lt-sm) {
        margin-top: base-unit(15);
    }

    .contact-text {
        font-size: $text-block-big;
        text-align: center;
        margin-bottom: base-unit(3);

        @media ($lt-sm) {
            font-size: $text-block-mobile-big;
        }
    }

    .big-button {
        background-color: $blue;
        color: $red;
        border-radius: $border-radius;
        border: none;
        padding: 0 base-unit(3);
        margin-bottom: base-unit(7);

        @media ($lt-sm) {
            padding: base-unit(2) base-unit(3);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .socials-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: base-unit(2);

        @media ($lt-sm) {
            flex-direction: column;
        }

        .social {
            padding: $base-unit base-unit(2);
            border-radius: $border-radius;
            font-size: $text-block-big;
            color: $blue;

            @media ($lt-sm) {
                padding: base-unit(2);
                font-size: $text-block-mobile-big;
            }

            &.linkedin {
                background-color: $light-green;
            }

            &.malt {
                background-color: $light-purple;
            }

            &.instagram {
                background-color: $light-pink;
            }
        }
    }
}

.project-container {
    // margin-bottom: base-unit(15);
    display: flex;
    flex-direction: row;
    align-items: center;

    .project-image-container {
        position: relative;
        width: 60%;

        .project-background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: $project-block-height;

            &.amikeo {
                background-color: $light-purple;
            }

            &.sofya {
                background-color: $light-green;
            }
        }

        .project-image {
            height: $project-block-height;
            background-repeat: no-repeat;

            &.amikeo {
                background-image: url(../images/amikeo/amikeo-cover.png);
                background-position: 30% center;
                background-size: 65%;
                border-radius: $border-radius;

                @media ($lt-sm) {
                    background-position: center 85%;
                    background-size: 160%;
                }
            }

            &.sofya {
                background-image: url(../images/sofya/sofya-cover.png);
                background-position: 50% center;
                background-size: 50%;

                @media ($lt-sm) {
                    background-position: 0% center;
                    background-size: 135%;
                }
            }
        }
    }

    .big-text {
        line-height: 100%;
        z-index: 2;


        &.amikeo {

            @media ($gt-sm) { 
            // for desktop devices
                transform: translate(-73%, 121%);
            }

            @media ($lt-sm) {
            // for mobile devices
                bottom: -3vh;
                left: 24vw;
            }
        }

        &.sofya {

            @media ($gt-sm) { 
                // for desktop devices
                transform: translate(42%, -50%);
            }

            @media ($lt-sm) {
            // for mobile devices
                left: -1vw;
                top: 24vh;
                
            }
        }
    }
}