body {
    margin: 0;
    background-color: $background;
    color: $blue;
    font-size: $text-block;
    // position:fixed;
    @include new-hero-eb;

    .soap {
        @include soap;
    }

    @media ($mobile) {
        font-size: $text-block-mobile;
    }
}

a {
    text-decoration: none;
}

.big-text {
    @include soap;
    font-size: $title-big;
    color: $red;

    @media ($mobile) {
        font-size: $title-big-mobile;
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: base-unit(3);
    font-size: $section-title;
    color: $red;
    z-index: 1000;

    &:hover {
        cursor: pointer;
    }

    @media ($mobile) {
        font-size: $section-title-mobile;
    }
}

.ab-fold {
    height: 100vh;
    // width: 100vw;
    position: relative;
}

.text-block {
    padding: 0 $text-block-padding;

    @media ($mobile) {
        padding: 0 $text-block-padding-mobile;
    }

    .outlined {
        @include soap;
        color: $red;
    }

    .section-title {
        @include soap;
        color: $red;
        margin-bottom: base-unit(2);
        font-size: $section-title;

        @media ($mobile) {
            font-size: $section-title-mobile;
            margin-bottom: $base-unit;
        }
    }

    .text-block-link {
        text-decoration: underline;
        transition: $transition-short;
        color: $blue;

        &:hover {
            cursor: pointer;
            color: $red;
        }
    }
}


.contact-container {
    margin-top: base-unit(30);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media ($mobile) {
        margin-top: base-unit(15);
    }

    .contact-text {
        font-size: $text-block-big;
        text-align: center;
        margin-bottom: base-unit(3);

        @media ($mobile) {
            font-size: $text-block-mobile-big;
        }
    }

    .big-button {
        background-color: $blue;
        color: $red;
        border-radius: $border-radius;
        border: none;
        padding: 0 base-unit(3);
        margin-bottom: base-unit(7);

        @media ($mobile) {
            padding: base-unit(2) base-unit(3);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .socials-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: base-unit(2);

        @media ($mobile) {
            flex-direction: column;
        }

        .social {
            padding: $base-unit base-unit(2);
            border-radius: $border-radius;
            font-size: $text-block-big;
            color: $blue;

            @media ($mobile) {
                padding: base-unit(2);
                font-size: $text-block-mobile-big;
            }

            &.linkedin {
                background-color: $light-green;
            }

            &.malt {
                background-color: $light-purple;
            }

            &.instagram {
                background-color: $light-pink;
            }
        }
    }
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .project-image-container {
        position: relative;
        width: 60%;

        .project-background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: $project-block-height;

            &.amikeo {
                background-color: $light-purple;
            }

            &.sofya {
                background-color: $light-green;
            }

            &.coach-abileo {
                background-color: $light-red;
            }
        }

        .project-image {
            height: $project-block-height;
            background-repeat: no-repeat;

            &.amikeo {
                background-image: url(../images/amikeo/amikeo-cover.png);
                background-position: 30% center;
                background-size: 65%;
                border-radius: $border-radius;

                @media ($mobile) {
                    background-position: center 85%;
                    background-size: 160%;
                }
            }

            &.sofya {
                background-image: url(../images/sofya/sofya-cover.png);
                background-position: 50% center;
                background-size: 50%;

                @media ($mobile) {
                    background-position: 0% center;
                    background-size: 135%;
                }
            }

            &.coach-abileo {
                background-image: url(../images/coach-abileo/coach-abileo-cover.png);
                background-position: 30% center;
                background-size: 65%;
                border-radius: $border-radius;

                @media ($mobile) {
                    background-position: center 55%;
                    background-size: 80%;
                }
            }
        }
    }

    .big-text {
        line-height: 100%;
        z-index: 2;


        &.amikeo {
            margin-left: -18%;
            margin-bottom: -15%;

            @media ($mobile) {
                bottom: 3vh;
                left: 42vw;
            }
        }

        &.sofya {
            margin-right: -5%;
            margin-top: -2%;

            @media ($mobile) {
                left: -1vw;
                top: 24vh;
            }
        }

        &.coach-abileo {
            margin-left: -14%;
            margin-top: -9%;
            line-height: 13vh;

            @media ($mobile) {
                bottom: 3vh;
                left: 42vw;
            }
        }
    }
}

.display-screen-desktop {
    @media ($screen-xs) {
        display: none !important;
    }
}

.display-screen-xs {
    @media ($desktop) {
        display: none !important;
    }
}