.project-page {
    padding-bottom: base-unit(32);

    .project-page-big-margin {
        margin-bottom: base-unit(11);
    }

    .project-page-small-margin {
        margin-bottom: base-unit(6);
    }
    
    .project-container {
        margin-bottom: base-unit(20);

        @media ($mobile) {
            flex-direction: column;
            margin-bottom: base-unit(6);
        }
        

        .big-text.amikeo {
            transform: translate(-60%, 145%);

            @media ($mobile) {
                margin-top: -3vh;
                padding-left: base-unit(2);
                width: 100%;        
            }
        }

        .project-image-container {

            @media ($mobile) {
                width: 100%;
            }

            .project-background {
                &.amikeo {
                    border-radius: 0 0 $border-radius 0;


                    @media ($mobile) {
                        border-radius: 0;
                    }
                }
            }

            .project-image {
                &.amikeo {
                    @media ($mobile) {
                        background-position: center;
                        background-size: 90%;
                    }
                }
            }
        }
    }

    .responsive-el-order {
        display: flex;
        flex-direction: column;

        .order-text-1 {
            order: 1;
        }
        .order-text-2 {
            order: 2;
        }
        .order-img-1 {
            order: 3;
        }
        .order-img-2 {
            order: 4;
        }
            

        @media ($mobile) {
        // for mobile devices
            .order-text-1 {
                order: 1;
            }
            .order-text-2 {
                order: 3;
            }
            .order-img-1 {
                order: 2;
            }
            .order-img-2 {
                order: 4;
            }
        }
    }
    
    .text-block {

        .chips-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: base-unit(2);

            @media ($mobile) {
                gap: $base-unit;
            }

            .chip {
                padding: $base-unit base-unit(2);
                border-radius: base-unit(5);
                font-size: $text-block-mobile;

                @media ($mobile) {
                    padding: base-unit(.5) $base-unit;
                }

                &.blue {
                    border: 3px solid $blue;
                }

                &.red {
                    color: $red;
                    border: 3px solid $red;
                }
            }
        }

        $split-gap: base-unit(10);
        .split {
            display: flex;
            flex-direction: row;

            .block {
                width: calc(50% - ($split-gap/2));

                &:first-child {
                    margin-right: $split-gap;
                }
            }

            @media ($mobile) {
                flex-direction: column;

                .block:first-child {
                    margin-bottom: base-unit(3);
                }
            }
        }

        .case-study-title-desktop {

            @media($screen-xs) {
                display: none;
            }

            .big-text {
                line-height: 12vh;
            }

            .second-line {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: right;
                flex-wrap: wrap;
                gap: $base-unit;

                .chips-container {
                    margin-bottom: 0;
                    order: 2;
                    flex-grow: 1;
                }
            }
        }

        .case-study-title-mobile {
            
            @media ($desktop) {
                display: none;
            }

            .big-text {
                line-height: 6vh;
                
                &.align-right {
                    text-align: right;
                }
            }
        }
    }

    .project-big-image-container {
        width: 100vw;
        height: 90vh;

        @media ($mobile) {
            height: 50vh;
        }

        &.amikeo-10-iphones {
            background-color: $light-green;

            @media ($mobile) {
                margin-bottom: base-unit(6);
            }


            img {
                width: 100%;
                height: 90vh;
                background-position: center;
                background-size: cover;

                @media($mobile) {
                    width: auto;
                    height: 50vh;
                    margin-left: -50%;
                }
            }
        }

        &.amikeo-user-journey {
            background-color: $background-accent;
            height: 100%;

            @media ($mobile) {
                // height: 50vh;
            }

            img {
                width: 100%;
                background-position: center;
                background-size: cover;

                @media ($mobile) {
                    width: auto;
                    height: 50vh;
                    margin-left: -80vw;
                }
            }
        }

        &.amikeo-login-revamp {
            background-color: $light-red;
            padding: base-unit(20) 0 base-unit(11) 0;
            height: 100%;

            @media ($mobile) {
                padding: base-unit(10) 0;
            }

            .image-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                position: relative;

                &.old-login {
                    margin-bottom: base-unit(20);

                    @media($mobile) {
                        margin-bottom: base-unit(10);
                    }

                    img {
                        width: 20vw;

                        @media ($mobile) {
                            width: 43vw;
                        }
                    }
    
                    .andthen {
                        position: absolute;
                        top: -10vh;
                        left: 10vw;

                        @media ($mobile) {
                            top: -1.5vh;
                            font-size: $section-title-mobile;
                        }
                    }
                }
        
                &.new-login {
                    img {
                        width: 30vw;
                        margin-bottom: 3vh;

                        @media ($mobile) {
                            width: 43vw;
                            margin-bottom: 1vh;
                        }
                    }
    
                    .became {
                        position: absolute;
                        top: -10vh;
                        right: 15vw;

                        @media ($mobile) {
                            top: -2.2vh;
                            font-size: $section-title-mobile;
                        }
                    }
                }
            }

        }
    }

    .project-image-double {
        display: flex;
        flex-direction: row;
        margin-bottom: base-unit(11);

        @media ($mobile) {
            flex-direction: column;
        }

        .img-1-container {
            width: 50vw;

            @media ($mobile) {
                width: 100vw;
            }

            img {
                width: 100%;
            }
        }

        .img-2-container {
            width: 50vw;
            @media ($mobile) {
                width: 100vw;
            }

            img {
                width: 100%;
            }
        }

        &.amikeo {
            .img-1-container {
                background: $light-blue;
            }
    
            .img-2-container {
                background: $light-red;
            }
        }
    }
}