$split-gap: base-unit(10);
$project-page-big-margin: base-unit(11);
$project-page-small-margin: base-unit(6);

.project-page {
    padding-bottom: base-unit(32);

    .project-page-big-margin {
        margin-bottom: $project-page-big-margin;
    }

    .project-page-small-margin {
        margin-bottom: $project-page-small-margin;
    }
    
    .project-container {
        margin-bottom: base-unit(20);

        &.sofya {
            justify-content: right;

            @media ($mobile) {
                justify-content: left;
            }
        }

        @media ($mobile) {
            flex-direction: column;
            margin-bottom: $project-page-small-margin;
        }
        

        .big-text {

            &.amikeo {
                transform: translate(-60%, 145%);
    
                @media ($mobile) {
                    transform: translate(0, 0);
                    margin-top: -3vh;
                    padding-left: base-unit(2);
                    width: 100%;        
                }
            }

            &.sofya {

                @media ($mobile) {
                    transform: translate(0, 0);
                    order: 2;
                    margin-top: -3vh;
                    padding-left: base-unit(2);
                    width: 100%;        
                }
            }
        }
        

        .project-image-container {

            @media ($mobile) {
                width: 100%;
            }

            .project-background {

                &.amikeo {
                    border-radius: 0 0 $border-radius 0;

                    @media ($mobile) {
                        border-radius: 0;
                    }
                }

                &.sofya {
                    border-radius: 0 0 0 $border-radius;

                    @media ($mobile) {
                        border-radius: 0;
                    }
                }
            }

            .project-image {
                &.amikeo {
                    @media ($mobile) {
                        background-position: center;
                        background-size: 90%;
                    }
                }
            }
        }
    }

    .responsive-el-order {
        display: flex;
        flex-direction: column;

        .order-text-1 {
            order: 1;
        }
        .order-text-2 {
            order: 2;
        }
        .order-img-1 {
            order: 3;
        }
        .order-img-2 {
            order: 4;
        }
            

        @media ($mobile) {
        // for mobile devices
            .order-text-1 {
                order: 1;
            }
            .order-text-2 {
                order: 3;
                margin-bottom: $project-page-small-margin;
            }
            .order-img-1 {
                order: 2;
            }
            .order-img-2 {
                order: 4;
            }
        }
    }
    
    .text-block {

        .chips-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: base-unit(2);

            @media ($mobile) {
                gap: $base-unit;
            }

            .chip {
                padding: $base-unit base-unit(2);
                border-radius: base-unit(5);
                font-size: $text-block-mobile;

                @media ($mobile) {
                    padding: base-unit(.5) $base-unit;
                }

                &.blue {
                    border: 3px solid $blue;
                }

                &.red {
                    color: $red;
                    border: 3px solid $red;
                }
            }
        }

        .split {
            display: flex;
            flex-direction: row;
            align-items: center;

            .block {
                width: calc(50% - ($split-gap/2));

                &:first-child {
                    margin-right: $split-gap;
                }

                img {
                    width: 100%;
                }
            }

            @media ($mobile) {
                flex-direction: column;

                .block {
                    width: 100%;

                    &:first-child {
                        margin-right: 0;
                        margin-bottom: base-unit(3);
                    }

                    &.old-sofya-img {
                        order: 2;
                        margin-bottom: 0;
                        margin-top: $project-page-small-margin;
                    }
                }
            }
        }

        .case-study-title-desktop {

            @media($screen-xs) {
                display: none;
            }

            .big-text {
                line-height: 12vh;
            }

            .second-line {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                flex-wrap: wrap;
                gap: $base-unit;

                .chips-container {
                    margin-bottom: 0;
                    flex-grow: 1;
                }
            }
        }

        .case-study-title-mobile {
            
            @media ($desktop) {
                display: none;
            }

            .big-text {
                line-height: 6vh;
                
                &.align-right {
                    text-align: right;
                }
            }
        }
    }

    .project-big-image-container {
        width: 100vw;
        height: 90vh;

        @media ($mobile) {
            height: 50vh;
        }

        &.amikeo-10-iphones {
            background-color: $light-green;

            @media ($mobile) {
                margin-bottom: $project-page-small-margin;
            }


            img {
                width: 100%;
                height: 90vh;
                background-position: center;
                background-size: cover;

                @media($mobile) {
                    width: auto;
                    height: 50vh;
                    margin-left: -50%;
                }
            }
        }

        &.amikeo-user-journey {
            background-color: $background-accent;
            height: 100%;

            @media ($mobile) {
                // height: 50vh;
            }

            img {
                width: 100%;
                background-position: center;
                background-size: cover;

                @media ($mobile) {
                    width: auto;
                    height: 50vh;
                    margin-left: -80vw;
                }
            }
        }

        &.amikeo-login-revamp {
            background-color: $light-red;
            padding: base-unit(20) 0 $project-page-big-margin 0;
            height: 100%;

            @media ($mobile) {
                padding: base-unit(10) 0;
            }

            .image-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                position: relative;

                &.old-login {
                    margin-bottom: base-unit(20);

                    @media($mobile) {
                        margin-bottom: base-unit(10);
                    }

                    img {
                        width: 20vw;

                        @media ($mobile) {
                            width: 43vw;
                        }
                    }
    
                    .andthen {
                        position: absolute;
                        top: -10vh;
                        left: 10vw;

                        @media ($mobile) {
                            top: -1.5vh;
                            font-size: $section-title-mobile;
                        }
                    }
                }
        
                &.new-login {
                    img {
                        width: 30vw;
                        margin-bottom: 3vh;

                        @media ($mobile) {
                            width: 43vw;
                            margin-bottom: 1vh;
                        }
                    }
    
                    .became {
                        position: absolute;
                        top: -10vh;
                        right: 15vw;

                        @media ($mobile) {
                            top: -2.2vh;
                            font-size: $section-title-mobile;
                        }
                    }
                }
            }
        }

        &.sofya-double-macbook {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $light-purple;

            @media ($mobile) {
                margin-bottom: $project-page-small-margin;
            }

            img {
                width: 50%;

                @media ($mobile) {
                    width: 90%;
                }
            }

        }

        &.sofya-admin-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $light-blue;

            @media ($mobile) {
                height: auto;
                padding: base-unit(4) 0;
            }

            img {
                width: 80%;

                &.display-screen-xs {
                    width: 50%;
                }
            }
        }
    }

    .project-image-double {
        display: flex;
        flex-direction: row;

        @media ($mobile) {
            flex-direction: column;
        }
       
        &.display-screen-desktop {
            @media ($screen-xs) {
                display: none;
            }
        }


        &.amikeo {

            .img-container {
                width: 50vw;
        
                @media ($mobile) {
                    width: 100vw;
                }
        
                img {
                    width: 100%;
                }

                &.img-1 {
                    background: $light-blue;
                }
        
                &.img-2 {
                    background: $light-red;
                }
            }
        }


        &.sofya {

            .img-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: base-unit(5) 0;
                width: 50vw;

                @media ($mobile) {
                    width: 100vw;
                }

                img {
                    width: 50%;
                }

                &.img-1 {
                    background: $light-red;
                }

                &.img-2 {
                    background: $light-blue;
                }

                &.img-3 {
                    background: $light-purple;
                    @media ($mobile) {
                        height: 35vh
                    }
                }

                &.img-4 {
                    background: $light-pink;
                    @media ($mobile) {
                        height: 35vh
                    }
                }

                &.img-5 {
                    background: $light-purple;

                    img {
                        width: 80%;
                    }
                }

                &.img-6 {
                    background: $light-green;

                    img {
                        width: 80%;
                    }
                }
            }
        }
    }

    .text-w-image-container {
        position: relative;
        padding:$project-page-small-margin 0;

        @media ($mobile) {
            padding: base-unit(2) 0;
        }

        .background {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .text-w-image-sub-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 $text-block-padding;

            @media ($mobile) {
                flex-direction: column;
                padding: 0 $text-block-padding-mobile;
            }

            img, div {
                width: calc(50vw - ($split-gap/2) - $text-block-padding);

                @media ($mobile) {
                    width: 100%;
                }
            }
        }

        &.sofya-filters {
    
            .background {
                width: 65vw;
                height: 100%;
                background-color: $light-green;
                border-radius: 0 $border-radius $border-radius 0;

                @media ($mobile) {
                    width: 100%;
                    height: 55%;
                    border-radius: 0;
                }
            }
    
            .text-w-image-sub-container {
    
                img {
                    margin-right: $split-gap;

                    @media ($mobile) {
                        margin-right: 0;
                        margin-bottom: base-unit(2);
                    }
                }
            }
        }

        &.sofya-admin {
            padding: $project-page-small-margin 0 0 0;

            .background {
                background-color: $light-red;
                width: 100%;
                height: 100%;
            }

            .text-w-image-sub-container {
                align-items: flex-start;

                >div {
                    margin-bottom: base-unit(2);
                }

                img {
                    margin-left: $split-gap;

                    @media ($mobile) {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .sofya-admin-orga {
        width: 65%;
        padding: $project-page-small-margin;
        border-radius: $border-radius;
        background-color: $background-accent;

        @media ($screen-xs) {
            display: none;
        }

        .outlined {
            margin-bottom: base-unit(2);
        }

        img {
            width: 80%;
            display: block;
            margin: auto;
        }
    }

    .align-right {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .light-pink-backrground {
        padding: base-unit(10) 0;
        background-color: $light-pink;

        .project-page-big-margin {
            @media ($mobile) {
                margin-bottom: base-unit(4);
            }
        }

        img {
            display: block;
            width: 50%;
            margin: auto;

            @media ($mobile) {
                padding: $text-block-padding-mobile;
                width: calc(100% - ($text-block-padding-mobile * 2));
            }
        }
    }
}