.project-page {
    padding-bottom: base-unit(32);

    .project-page-big-margin {
        margin-bottom: base-unit(11);
    }

    .project-page-small-margin {
        margin-bottom: base-unit(6);
    }
    
    .project-container {
        margin-bottom: base-unit(20);

        .project-image-container {
            .project-background {
                &.amikeo {
                    border-radius: 0 0 $border-radius 0;
                }
            }
        }
    }
    
    .text-block {

        .chips-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: base-unit(2);

            .chip {
                padding: $base-unit base-unit(2);
                border-radius: base-unit(5);

                &.blue {
                    border: 3px solid $blue;
                }

                &.red {
                    color: $red;
                    border: 3px solid $red;
                }
            }
        }

        $split-gap: base-unit(10);
        .split {
            display: flex;
            flex-direction: row;
            
            .block {
                width: calc(50% - ($split-gap/2));

                &:first-child {
                    margin-right: $split-gap;
                }
            }
        }

        .case-study-title {

            .big-text {
                line-height: 12vh;
            }

            .chips-container {
                margin-bottom: 0;
            }

            .second-line {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    .project-big-image-container {
        width: 100vw;
        height: 90vh;

        &.amikeo-10-iphones {
            background-color: $light-green;

            img {
                width: 100%;
                background-position: center;
                background-size: cover;
            }
        }

        &.amikeo-user-journey {
            background-color: $background-accent;
            height: 30vh;
            height: 100%;

            img {
                width: 100%;
                background-position: center;
                background-size: cover;
            }
        }

        &.amikeo-login-revamp {
            background-color: $light-red;
            padding: base-unit(20) 0 base-unit(11) 0;
            height: 100%;

            .image-row {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                position: relative;

                &.old-login {
                    margin-bottom: base-unit(20);
                    img {
                        width: 20vw;
                    }
    
                    .andthen {
                        position: absolute;
                        top: -10vh;
                        left: 10vw;
                    }
                }
        
                &.new-login {
                    img {
                        width: 30vw;
                        margin-bottom: 3vh;
                    }
    
                    .became {
                        position: absolute;
                        top: -10vh;
                        right: 15vw;
                    }
                }
            }

        }
    }

    .project-image-double {
        display: flex;
        flex-direction: row;
        margin-bottom: base-unit(11);

        .img-1-container {
            width: 50vw;

            img {
                width: 100%;
            }
        }

        .img-2-container {
            width: 50vw;

            img {
                width: 100%;
            }
        }

        &.amikeo {
            .img-1-container {
                background: $light-blue;
            }
    
            .img-2-container {
                background: $light-red;
            }
        }
    }
}