// ------------ FONTS ------------
// HERO NEW
@import url("https://use.typekit.net/fke7hpc.css");
// SOAP
@import url("https://use.typekit.net/fke7hpc.css");

@mixin new-hero-eb {
    font-family: "new-hero", sans-serif;
    font-weight: 800;
    font-style: normal;
}

@mixin soap {
    font-family: "soap", sans-serif;
    font-weight: 400;
    font-style: normal;
}

$text-block: 1.3rem;
$text-block-big: 5vh;
$text-block-mobile: 2.5vh;
$section-title: 1.8rem;
$title-big: 14.1vh;
$title-big-mobile: 7vh;

// ------------ COLORS ------------
$blue: #2254D7;
$red: #FF6643;
$background: #FFFAF4;
$background-accent: #FFEEDA;
$light-blue: #CBE7FE;
$light-purple: #E2D6FF;
$light-green: #CBE776;
$light-pink: #FFCFE6;
$light-red: #FFE2E1;
$dark-grey: #201D1D;

// ------------ SIZES ------------
$base-unit : 8px;

@function base-unit($n) {
    @return ($n * $base-unit);
}

// ------------ BREAKPOINTS ------------
$lt-sm: 'max-width: 599px';
$lt-md: 'max-width: 959px';
$lt-lg: 'max-width: 1279px';
$lt-xl: 'max-width: 1919px';
$gt-xs: 'min-width: 600px';
$gt-sm: 'min-width: 960px';
$gt-md: 'min-width: 1280px';
$gt-lg: 'min-width: 1920px';


// ------------ STYLING ------------

$border-radius: base-unit(2);
$transition-short: all .2s ease-in-out;
$project-block-height: base-unit(41);
